venv/
*.csv
.credentials/
.idea/
.archives/
test.py
__pycache__/
app/.streamlit/config.toml
app/src/modules/demo.py
terraform/.terraform/
terraform/containers/task-definitions/*.json
*.tfstate
*.tfstate.backup
*.tfvars
